services:
 db:
   image: postgres:15
   environment:
     POSTGRES_USER: <username>
     POSTGRES_PASSWORD: <password>
     POSTGRES_DB: mid_term_rails_app_development
   volumes:
     - db_data:/var/lib/postgresql/data
   ports:
     - "5433:5432"
 web:
   image:
   command: >
    bash -c "rm -f tmp/pids/server.pid && bin/rails db:create && bin/rails db:migrate && bin/rails server -b 0.0.0.0 -p 4000"
   ports:
     - "4000:4000"
   depends_on:
     - db
   environment:
     DATABASE_HOST: db
     DATABASE_USER: <username>
     DATABASE_PASSWORD: <password>
volumes:
 db_data: