services:
 db:
   image: postgres:15
   environment:
     POSTGRES_USER: yolanda
     POSTGRES_PASSWORD: mypassword
     POSTGRES_DB: mid_term_rails_app_development
   volumes:
     - db_data:/var/lib/postgresql/data
   
 web:
   build: .
   command: >
    bash -c "bundle install && rm -f tmp/pids/server.pid && bin/rails db:create && bin/rails db:migrate && bin/rails server -b 0.0.0.0 -p 3000"
   volumes:
     - .:/midtermrailsapp
   ports:
     - "3000:3000"
   depends_on:
     - db
   environment:
     DATABASE_HOST: db
     DATABASE_USER: yolanda
     DATABASE_PASSWORD: mypassword
volumes:
 db_data: